.nav-link {
    font-size: 1.25rem;
}

.card {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

body[data-bs-theme="light"] {
    background-color: rgb(250, 250, 250);
}

body[data-bs-theme="dark"] {
    background-color: rgb(50, 50, 50);
}

#basics {
    margin-top: 92px;
}

.text {
    border: 2px solid black;
    text-align: justify;

}

html {
    scroll-padding-top: 82px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}