.nav-link {
    font-size: 1.25rem;
}

.card {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

body[data-bs-theme="light"] {
    background-color: rgb(200, 200, 200);
}

body[data-bs-theme="dark"] {
    background-color: rgb(100, 100, 100);
}